* {
  box-sizing: border-box;
  margin: 0;
}

.grandparent {
  width: 800px;
  height: 600px;
  background-color: black;
  margin: 0 auto;
}

.parent {
  width: 400px;
  margin: 0 auto;
  background-color: grey;
  margin-top: 20px;
}

.child {
  width: 200px;
  height: 200px;
  color: white;
  text-align: center;
  line-height: 200px;
}

.child.red {
  background-color: red;
  position: fixed;
  bottom: 0px;
}

.child.yellow {
  background-color: yellow;
}

.child.blue {
  background-color: blue;
}
